*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
header {
    background-color: #fcdb00;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
header h1 {
    color: #000;
    font-size: 36px;
    font-weight: 700;
}
header h3{
    
color: black;
    
font-size: 26px;
    
margin-top: 18px;
    
display: block;
    
font-weight: 400;
}
header p{
    
    olor: black;
    margin-top: 35px;
    font-size: 15px;
}
.right img{
    
}
.height{
 align-items: center;
 min-height: 90vh;
}
ul.navbar-nav.ms-auto.mb-2.mb-lg-0 {
    margin-right: 40px;
    font-size: 22px;
    font-weight: 700;
}
a.nav-link {
    color: #000;
}
li.nav-item {
    margin-left: 20px;
}
a.nav-link {
    color: #000;
}
a.nav-link:hover{
    color: #fff;
}
nav.navbar.navbar-expand-lg {
    padding: 51px;
}
.logo {
    margin-left: 164px;
}
.icon{
    
color: black;
    
font-size: 42px;
    
margin-top: 10px;
position: absolute;
}

i.fa-brands.fa-apple {
    margin-right: 13px;
    font-size: 40px;
}
i.fa-solid.fa-robot {
    font-size: 37px;
    margin-right: 20px;
}
.f_icon img{
    font-size: 50px;
}
.f_icon{
}
.f_text{

}
.f_text h2{
    font-size: 22px;
    font-weight: 600;
    color: #000;
}
.f_text p{
    color: #a7a7a7; 
}
.centre{
    text-align: center;
    margin-top: 52px;
}
.text-center {
    padding: 22px;
    font-size: 41px;
}
.text-center:hover{
    color: #fcdb00;
}
.f_item{
    margin-top: 70px;
    margin-bottom: 70px;
}
.centre h3{
    font-weight: 700;
    font-size: 30px;
    color: #000;
}
.centre p{
    font-weight: 400;
    margin-top: 20px;
}
.centre_1{
    
    color: #fcdb00;
    text-align: center;
}
.keep_touch{
    background-color: black;
}
.centre_1 h3{
    font-weight: 400;
    font-size: 30px;
    margin-top: 84px;
}
.centre_1 p{
    font-weight: 400;
    margin-top: 19px;
    color: #a7a7a7;
}
.c_form {
    padding: 35px 70px;
}
.c_input{
    height: 53px;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 25px;
}
.c_submit{
    width: 100%;
    height: 50px;
    background-color: #ffc107;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}
.c_submit:hover{
    background-color: #fff;
}
.icon_part{
    text-align: center;
    font-size: 47px;
    color: #ffc107;
    position: relative;
}
.icon_part i{
    margin-left: 20px;
}
.icon_part i:hover{
    color: #f4f1f1; 
}
.icon_part span{
    color: #080808;
    border: .1px solid #f3d00f;
    margin-bottom: 49px;
    margin-top: 100px;
    display: block;
}
.right img {
    margin-bottom: 85px;
}
.ending {
    padding: 71px;
}
.ending p {
    color: #fff;
    margin-left: 40px;
}
.logo {
    margin-left: 108px;
}
.right img {
    margin-bottom: -18px;
}
li {
    list-style: none;
    margin-left: 19px;
    transition: .4s all ease-in-out;
}
ul {
    display: flex;
    margin-left: -19px;
}
li:hover{
    color: #fff;
}



